  <div class='well'>
    <div class='span8 wrapped'>
      <strong><%=link_to gemfile.name, gemfile_path(gemfile)%></strong>
    </div>

    <br>
     
    <div class='row'>
      <div class='span6 wrapped left-indented'>
        <%=gemfile.description%>
      </div>
    </div>
 
  <div class="row">     
    <div class='span8' style='padding-left:20px'>
      <span class='quiet'>posted by:</span>
 
      <%=link_to gemfile.user.username, user_path(gemfile.user)%>
    
      <span class='quiet'>on:</span>
    
      <%=gemfile.created_at.to_date%>
    </div>
    
    <div class='span pull:right'>
      Votes: <%=gemfile.total_votes%>
    </div>

  </div>
</div>
