<%=render 'shared/header', header: "Application: #{@gemfile.name}"%>

<p class="pull-right">
  [<%=link_to 'Edit', edit_gemfile_path(@gemfile)%>]
</p>
<br></br>

<div class='well'>
  
  <div class='row'>
    <div class='span2'>
      <strong>Name:</strong>
    </div>
    
    <div class='span8 '>
      <%=@gemfile.name%>
    </div>
  </div>

  <br>

  <div class='row'>
    <div class='span2'>
      <strong>Description:</strong>
    </div>

    <div class='span8 wrapped'>
      <%=@gemfile.description%>
    </div>
  </div>

  <br>
  
  <div class="row">     
    <div class='span0 quiet'>
      posted by:
    </div>

    <div class='span0'>
      <%=link_to @gemfile.user.username, user_path(@gemfile.user)%>
    </div>

    <div class='span0'>
      <span class='quiet'>on:</span>
    </div>
    
    <div class='span0'>
      <%=@gemfile.created_at.to_date%>
    </div>
  </div>
</div>

<br>

<h4>Gems:</h4>

<table class='table well'>
  <tr>
    <th>Gem name</th>
    <th>Version specifiers<th>
  </tr>
  
  <%@gem_uses.each do |gem_use|%>
    <tr>
      <td>
        <%=link_to gem_use.gem_instance.name, gem_path(gem_use.gem_instance)%>
      </td>
    
      <td><%=gem_use.version%></td>
    </tr>
  <%end%>
</table>

  <p>
  Did you find this gemfile useful?
    <%= link_to 'Yes', vote_gemfile_path(@gemfile, vote: true), method: :post%> (<%=@gemfile.up_votes%>)
    <%= link_to 'No', vote_gemfile_path(@gemfile, vote: true), method: :post%> (<%=@gemfile.down_votes%>)
  </p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <strong>Gemfile code</strong>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%=@highlighted_code.html_safe%>
      </div>
    </div>
  </div>
</div>
