<%=render '/shared/header', header: "Gem: #{@gem_info["name"]}"%>
<div class='well'>
  <dt>Description:</dt>
  <dd><%=@gem_info["info"]%></dd>

  <br>
  <strong>Number of uses:</strong> <%=@gem_instance.num_uses%><br>
  <br>

  <strong>Most popular version specifier:</strong> 
  <%=@gem_instance.most_popular_version%>
  <br>

  <br>
  <strong>URL:</strong>
  <%=link_to @gem_info["project_uri"], @gem_info["project_uri"]%>  
</div>

<h4>Gemfiles that use this gem:</h4>

<table class='table'>
  <tr>
    <th>Application Name</th>
    <th>Votes</th>
  </tr>

  <%@gem_instance.gemfiles.each do |gemfile|%>
    <tr>
      <td><%=link_to gemfile.name, gemfile_path(gemfile)%></td>
      <td><%=gemfile.total_votes%></td>
    </tr>
    <%end%>
  </table>